<!DOCTYPE html>
<html ng-app="DemoApp">
    <head>
        <meta charset="UTF-8">
        <title>angular-carousel demo</title>
        <meta name="viewport" content="width=620, user-scalable=no">
        <link href='angular-carousel.css' rel='stylesheet' type='text/css'>
        <link href='demo.css' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="DemoCtrl">

        <h1>AngularJS Touch Carousel</h1>


            <div>
                <div class="details">
                </div>
                <div class="carousel-demo">
                    index: <input type="number" class="tiny" ng-model="carouselIndex2">
                    <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                        <li ng-repeat="slide in slides2 track by slide.id" ng-class="'id-' + slide.id">
                            <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                              #{{ slide.id }}
                            </div>
                        </li>
                    </ul>
                    <div rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselIndex2"></div>
                </div>
            </div>


        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>

    <script src="angular-carousel.js"></script>
    <script src="simple-carousel.js"></script>


</html>
